/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}
h1{
    text-align: center;
    font-size: 120%;
    font-weight: bold;/* BOLDER*/
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
   margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

table{

    width: 98%;
    border-width: 1px;
    border-style: groove;
    border-color: #b3d4fc;
}
th {
    height: 50px;
}
table td, table  th {
    border: 1px solid #b3d4fc;

}

table tfoot tr{
    border: 2px solid black;
}
table tfoot  td{
    border:none;
}
table#series{

}


table caption{
    visibility: hidden;

}
table:hover caption{
    visibility: hidden;

}
.left{
    float:left;
}
/***Maquetacion de Layout****/

/***Maquetacion de menu****/
nav{
   /* position: fixed;*/
    top:60px;
  /*  height: 50px;*/
    z-index: 8000;
    width: 100%;
}
#wrapper{

    position:relative;
    top:60px;
}
/*****Gradiantes***********/



nav{

    background: #73870b; /* Old browsers */
    background: -moz-linear-gradient(top, #73870b 0%, #73870b 16%, #7a8735 40%, #7c8456 62%, #7d8165 100%, #868781 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #73870b 0%,#73870b 16%,#7a8735 40%,#7c8456 62%,#7d8165 100%,#868781 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #73870b 0%,#73870b 16%,#7a8735 40%,#7c8456 62%,#7d8165 100%,#868781 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73870b', endColorstr='#868781',GradientType=0 ); /* IE6-9 */
}
nav ul{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#73870b+0,73870b+16,7a8735+40,7c8456+62,7d8165+100,868781+100 */
    margin :0 auto;
    /*width: 900px;*/
}
nav ul li{

    float :left;
    width: 150px;
    text-align: center;
    list-style: none;
    border: 1px solid white;
    /*hago mas ancho los li*/
    padding: 15px;
    background-color: #7a8735;
    transition: background-color 2s;
    border-radius: 5px;

}

nav ul li:hover{
    background-color: darkkhaki;
   /* color: aqua;*/
}

a{
    color:black;
    text-decoration: none;
}
/*********bloques flotantes*******************/
#ejer1 article{
    float: left;
    /**qme cuiente el padin y border del padre*/
    box-sizing: border-box;
    width: calc(100%/3);
    padding-left: 20px;

}
/*que el primer article no tenga padding*/
#ejer1 article:first-child{
    padding-left: 0px;
}
#ejer1 article > div{
    float: left;
    width: 75%;
    height: 200px;
}
#ejer1 article > div:last-child{/*que el texto con el boton me ocupe el 20% de lo dado  */
    width: 25%;
    box-sizing: border-box;
    padding-left: 10px;
    font-size: 90%;

}
#ejer1 article video{
    width: 100%;
}
#ejer1 article > div button{
    height: 35px;
}
#ejer1 article > div div{
    height: calc(200px - 35px);

}
/*cebreado*/
section:nth-child(odd)
{
    background-color: bisque;
}
section:nth-child(even)
{
    background-color: aquamarine;
}

/***********fin de bloques flotantes***************/
/***********Margin y padding*************************/
section{
   padding:50px;

}
/**botones***/
button{
    border-bottom-left-radius: 5px;
}


/******FLEXXX*****************/
main section:last-child{
    display:flex;
    flex-wrap: wrap;
    justify-content : center;
}
main section:last-child article{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;

}
main section:last-child > div{

    flex-wrap: wrap;

}

.flex-container {
    display: flex; /* ó inline-flex */
    flex-direction: row;
    flex-flow: row wrap;
   /* background-color: #474749;*/

}
article{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;

}
/****************EJERCICIO 2***********************/
header, footer {
    display: block;
}

article > div:first-child{
    margin-right: 11px;
    background-color: red;
}
article > div:first-child div{

    background-color: yellow;
}
article > div:nth-child(2) {

    background-color: green;
}

/*#contenedor-flexible {
    background-color: #474749;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
}
article:first-child {
    padding-left: 0px;
}
.texto1{
    width: 250px;
}
.texto2{
    width:350px;
}
.separator{
    margin-right: 10px;
}*/
/*****FOOTER*****************/
footer {
    display: flex;
    align-content: flex-end;
    padding: 1.5rem 1.5rem;
    background: gray(25%);
    color: gray(60%);
    font-size: 0.85em;
    text-align: center;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}



/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

    .ocultar{
        visibility: visible;
        display: none;
    }
    main section:last-child > div{
        flex-direction: column;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    nav ul li{
        background-color: #2e6da4;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .ocultar{
        visibility: hidden;
    }
    nav ul li{
        background-color: darkseagreen;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }


}
